
@media screen and (max-width: 480px){
    .grid {
        border: 1px solid red;
        display: flex;
        position: relative;
        flex-flow: row wrap;
        margin: 2em .5em;
        grid-column-gap: 0;
        grid-row: 1em;
    }

    header {
       z-index: 2; 
       justify-content: center;
       display: flex;
    }

    header h1 {
        display: none;
    }

    header nav {
       display: flex; 
       justify-content: center;

    }
}