@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap');

html, * {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    width: 100%;
    margin-top: 2rem;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    border-bottom: 1px solid gray;
}

header button {
    background-color: black;
    border-radius: 5px;
    border-color: lightgray;
    color: white;
    display: inline;
    margin-right: 1em;
    height: auto;
    width: auto;
}

header h1 {
    border-color: white;
    border-radius: 5px;
    display: inline;
    font-size: 1.5em;
    margin-left: .5rem;
    margin-right: 3em;
}

#contacts img {
    max-height: 2em;
    max-width: 2em;
    object-fit: cover;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

#contacts {
    margin-top: 1em;
    margin-bottom: 1em;
}
@media screen and (max-width: 480px){
    .grid {
        border: 1px solid red;
        display: flex;
        position: relative;
        flex-flow: row wrap;
        margin: 2em .5em;
        grid-column-gap: 0;
        grid-row: 1em;
    }

    header {
       z-index: 2; 
       justify-content: center;
       display: flex;
    }

    header h1 {
        display: none;
    }

    header nav {
       display: flex; 
       justify-content: center;

    }
}